/* UNIVERSAL RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* TRANSITION OF SCROLL */
html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
/* TEXT TITLES STYLES */
h2 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: italic;
    font-size: 40px;
    color: #F2FEDC;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}
/* SUBTITLES STYLE TEXT OF WEBPAGE */
h3{
    display: inline-grid;
    color: #3A2B00;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: italic;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.8s;
}
/* Animation for the click text */
h3:hover {
    display: inline-grid;
    transform: scale(1.05);
    color: #C8AE53;
    transition: all 0.8s;
}
/* PARAGRAPHS STYLE  */
/*  */p {
    display: inline-grid;
    color: #00755D;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: italic;
    /*  */font-size: 30px;
    text-transform: capitalize;
    transition: all 0.8s;
}
p:hover {
    display: inline-grid;
    transform: scale(1.05);
    color: #C8AE53;
    transition: all 0.8s;
}
/* BODY GRID AREA */
#ONEPAGE{
display:grid;
grid-template-rows: 35px 35px 600px 50px 800px 50px 600px 50px 600px 50px 600px 50px;
grid-template-columns:25% 25% 25% 25% ;
height: 100vh;
margin: 0;
padding: 10px;
gap:5px;
}
/* HEADER */
header {
    grid-column: 1/5;
    grid-row: 1/3;
    background-image:linear-gradient(to bottom,rgba(151, 92, 44, 0.813) 30%,rgb(233, 172, 87),rgba(211, 151, 67,0.7)) ;
    position: relative;
    background-size: cover;
}
/* Header align */
.barra {
    float: right;
}
/* Logo */
.logo {
    display: inline-grid;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-items: start;
    align-items: center;
    padding-left: 20px;
    color: aliceblue;
    font-size: 35px;
    font-family: 'Cedarville Cursive', cursive;
    font-style: italic;
}
.logo span {
    display: inline-grid;
    grid-column: 2/2;
    grid-row: 1/3;
    color: black;
    text-shadow: 1px 1px #333;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
/* Header list icons social media */
.barra i {
    display: inline-grid;
    grid-column: 2/5;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
    text-align: right;
    grid-row-gap: 5px;
    padding-top: 5px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    letter-spacing: 18px;
}
/* Header list */
.barra ul li {
    list-style: none;
    display: inline-grid;
    grid-column: 2/5;
    grid-row: 2/3;
    justify-self: start;
    align-self: center;
    grid-column-gap: 20px;
    padding-right:15px ;
}
/* Header list text */
.barra ul li a {  
    color: aliceblue;
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: italic;
}
/* MAIN STYLES */
main {
    grid-area: main;
    grid-column: 1/5;
    grid-row: 3/4;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.349)), url(../Imagenes/Libreria.jpg);
    background-position: center;
    background-size: cover;
}
/* Text1 of mainmenu */
.call {
    color: #413028;
    padding-top: 90px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: italic;
    font-size: 60px;
    text-align: center;
}
/* Text2 of the main menu */
.call2 {
    color: #F2FEDC;
    padding-top: 200px;
    padding-left: 200px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: italic;
    font-size: 50px;
    text-align: center;
}
/* SUBTITLES BANNERS */
#PROMOS{
    grid-column: 1/5;
    grid-row: 4/5;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    background-position: center;
    background-size: cover;
}
#MENU{
    grid-column: 1/5;
    grid-row: 6/7;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    background-position: center;
    background-size: cover;
}
#UBICACION{
    grid-column: 1/5;
    grid-row: 8/9;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    background-position: center;
    background-size: cover;
}
#NOSOTROS{
    grid-column: 1/5;
    grid-row: 10/11;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    background-position: center;
    background-size: cover;
}
/* CONTENS OF EACH SECTION OF WEBPAGE  */
#PROMOS_SECTION{
    grid-column: 1/5;
    grid-row: 5/6;
    background-color: #F2FEDC;
}
#MENU_SECTION{
    grid-column: 1/5;
    grid-row: 7/8;
    background-image: url(../Imagenes/Menu.jpg);
    background-position: center;
    background-size: cover;
}
#UBICACION_SECTION{
    grid-column: 1/5;
    grid-row: 9/10;
    background-image: url(../Imagenes/map-gcf0629988_1920.jpg);
    background-position: center;
    background-size: cover;
}
#NOSOTROS_SECTION{
    grid-column: 1/5;
    grid-row: 11/12;
    background-color: #F2FEDC;
}
/* CONTENT OF EACH SECTION*/
/* Propociones section */
#VideoPromo {
    position: relative;
    padding-top: 10px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    grid-column: 1/5;
    grid-row: 5/6;
    text-align: center;
    justify-self: center;
    align-self: center;
}
#TextoPromo {
    grid-column: 1/5;
    grid-row: 5/6;
    text-align: center;
    justify-self: center;
    align-self: center;
    padding-top: 50px;
}
/* Menu section */
#TextoMenu{
    grid-column: 1/5;
    grid-row: 7/8;
    text-align: end;
    justify-self: end;
    align-self: center;
    padding-right: 5%;
    padding-top: 10%;
}
/* Ubicacion section */
#TextoUbicacion{
    grid-column: 1/5;
    grid-row: 9/10;
    text-align: end;
    justify-self: end;
    align-self: center;
    padding-right: 5%;
    padding-top: 10%;
}
/* Nosotros section */
#VideoNosotros {
    display: inline-grid;
    position: relative;
    padding-top: 10px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    grid-column: 1/3;
    grid-row: 11/12;
    text-align: center;
    justify-self: center;
    align-self: center;
}
#TextoNosotros {
    display: inline-grid;
    position: absolute;
    grid-column: 3/5;
    grid-row: 11/12;
    text-align: center;
    justify-self: end;
    align-self: center;
    padding-top: 200px;
    padding-right: 20px;
}
/* FOOTER */
footer {
    grid-column: 1/5;
    grid-row: 12/13;
    background-color: #00755D;
    min-height: 50px;
    width: 100%;
    text-align: center;
    padding: 2px;
}
footer p {
    font-size: 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: italic;
    color: #F2FEDC;
    text-transform: capitalize;
}
footer i {
    font-size: 35px;
    color: #F2FEDC;
    letter-spacing: 18px;
}
/* BOTTON HOME STYLE */
.subir {
    height: 40px;
    width: 40px;
    background-color: #C8AE53;
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 25px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 5px solid rgba(211, 151, 67, 0.707);
    border-radius: 50%;
    box-shadow: 0 0 5px #F2FEDC;
    transition: all 0.8s;
}
.subir:hover {
    transform: scale(1.10);
    transition: all 0.8s;
}

/* SUBWEBPAGES */

/* PROMOCIONES SUBPAGE */
/* Grid of promo page */
#PROMOPAGE{
    display:grid;
    grid-template-rows: 35px 35px 50px 600px 50px;
    grid-template-columns:25% 25% 25% 25% ;
    height: 100vh;
    margin: 0;
    padding: 10px;
}
#SUBPAGE_PROMOCIONES{
    grid-column: 1/5;
    grid-row: 3/4;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    background-position: center;
    background-size: cover;
}
#SUBPAGE_PROMOCIONES_MAIN{
    grid-column: 1/5;
    grid-row: 4/5;
    background-image: url(../Imagenes/promociones.jpg);
    background-position: center;
    background-size: cover;
}
#SUBPAGE_PROMOCIONES_TEXT{
    grid-column: 1/5;
    grid-row: 4/5;
    justify-self: center;
    align-self: start;
    text-align: left;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 50PX;
}
/* MENU SUBPAGE */
/* Grid of MENU page */
#MENUPAGE{
    display:grid;
    grid-template-rows: 35px 35px 50px 800px 50px;
    grid-template-columns:25% 25% 25% 25% ;
    height: 100vh;
    margin: 0;
    padding: 10px;
}
#SUBPAGE_MENU{
    grid-column: 1/5;
    grid-row: 3/4;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    background-position: center;
    background-size: cover;
}
#SUBPAGE_MENU_MAIN{
    grid-column: 1/5;
    grid-row: 4/5;
    background-image: url(../Imagenes/cafe-g5c7eef449_1920.jpg);
    background-position: center;
    background-size: cover;
}
#SUBPAGE_MENU_TEXT{
    grid-column: 1/5;
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 500px;
    padding-left: 50PX;
}
/* MENU SUBPAGE */
/* Grid of UBICACION page */
#UBIPAGE{
    display: grid;
    grid-template-columns: repeat(4, fr);
    grid-template-rows: 35px 35px 50px 600px 50px 600px 50px;
    padding: 20px;
    height: 100vh;
    margin: 0;
    padding: 10px;
}
#SUBPAGE_UBICACION{
    grid-column: 1/5;
    grid-row: 3/4;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    background-position: center;
    background-size: cover;
}
.SUBPAGE_UBICACIÓN_GALERIA{
grid-column: 1/5;
grid-row: 4/6;
display: grid;
grid-template-columns: repeat(4, fr);
grid-template-rows: 200px 200px 200px 200px;
grid-gap: 15px;
padding-top: 30px;
}
.Item {
    border-radius: 2px;
    transition: all 0.8s;
}
.Item:hover {
    transform: scale(1.05);
    transition: all 0.8s;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #3A2B00;
}

.Foto1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../Imagenes/Capuchino.jpg);
    background-size: cover;
    background-position: center;
}

.Foto2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(../Imagenes/Americano.jpg);
    background-size: cover;
    background-position: center;
}

.Foto3 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(../Imagenes/coffe-g26b5016c0_1920.jpg);
    background-size: cover;
    background-position: center;
}

.Foto4 {
    grid-column: 4/5;
    grid-row: 1/2;
    background-image: url(../Imagenes/coffee-break-gaf5c6c105_1920.jpg);
    background-size: cover;
    background-position: center;
}

.Foto5 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../Imagenes/coffee-g787ac7887_1920.jpg);
    background-size: cover;
    background-position: center;
}

.Foto6 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(../Imagenes/coffe-ga5c6fe28f_1920.jpg);
    background-size: cover;
    background-position: center;
}

.Foto7 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../Imagenes/food-g01e63253b_1920.jpg);
    background-size: cover;
    background-position: center;
}

.Foto8 {
    grid-column: 4/5;
    grid-row: 2/3;
    background-image: url(../Imagenes/promociones.jpg);
    background-size: cover;
    background-position: center;
}

#MAPA{
    grid-column: 1/5;
    grid-row: 5/6;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    background-position: center;
    background-size: cover;
}


.Maps {
    grid-column: 1/5;
    grid-row: 6/7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px;
    grid-gap: 15px;
    padding-top: 30px;
}

.Mapita{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 300px;
    height: 300px;
    justify-self: center;
    align-self: center;
}
#Mapita_text{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
    text-align: right;
}
/* US SUBPAGE */
/* Grid of US page */
#USPAGE{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 35px 35px 50px 800px 50px;
    padding: 20px;
    height: 100vh;
    margin: 0;
    padding: 10px;
}
#US{
    grid-column: 1/5;
    grid-row: 3/4;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    background-position: center;
    background-size: cover;
}
#SUBPAGE_US{
    grid-column: 1/5;
    grid-row: 4/5;
    background-color: #F2FEDC;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 500px;
    grid-gap: 15px;
    padding-top: 30px;
}

.SUBPAGE_US_IMAGE{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    padding-left: 450px;
}
.SUBPAGE_US_TEXT{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    text-align: center;
    padding-right: 40px;
}
.SUBPAGE_US_TEXT2  {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    text-align: center;
    padding-right: 40px;
}

/* MEDIA QWERYS FOR RESPONSIVE SCREEN WEBPAGE */
/* Media qwery for medium sizes screens */
@media only screen and (min-width:720px) and (max-width:899px){

    /* SUBTITLES STYLE TEXT OF WEBPAGE */
    
    /*  */h3{
       /*  */ font-size: 30px;
    }
    /* PARAGRAPHS STYLE  */
   /*  */ p {
      /*  */  font-size: 25px;
    }
    /* Logo */
    .logo {
        padding-left: 20px;
    }
    /* Header list icons social media */
    .barra i {
        font-size: 15px;
        letter-spacing: 18px;
    }
    /* Header list text */
    .barra ul li a {  
        font-size: 20px;
    }
    /* Text1 of mainmenu */
    .call {
        font-size: 60px;
    }
    /* Text2 of the main menu */
    .call2 {
        font-size: 50px;
    }
    /* CONTENT OF EACH SECTION*/
    /* Propociones section */
    #VideoPromo {
        padding-top: 10px;
        width: 100%;
        height: 600px;
        overflow: hidden;
        grid-column: 2/4;
        grid-row: 5/6;
    }
    
    /* SUBWEBPAGES */
    /* MENU SUBPAGE */
    /* Grid of UBICACION page */
    /*  */#UBIPAGE{
       /*  */ grid-template-rows: 35px 35px 50px 800px 50px 600px 50px;
    }
    /*  */.SUBPAGE_UBICACIÓN_GALERIA{

   /*  */ grid-template-columns: repeat(3, fr);
    /*  */grid-template-rows: 200px 200px 200px 200px;
    }
    /*  */.Foto4 {
       /*  */ grid-column: 1/2;
        /*  */grid-row: 2/3;
    }
    
    /*  */.Foto5 {
        /*  */grid-column: 2/3;
        /*  */grid-row: 2/3;
    }
    
    /*  */.Foto6 {
       /*  */ grid-column: 3/4;
        /*  */grid-row: 2/3;
    }
    
    /*  */.Foto7 {
       /*  */ grid-column: 1/2;
        /*  */grid-row: 3/4;
    }
    
    /*  */.Foto8 {
       /*  */ grid-column: 2/3;
        /*  */grid-row: 3/4;
    }
    
    #MAPA{
        grid-column: 1/5;
        grid-row: 5/6;
        background-image: url(/Imagenes/blurry-gradient-haikei.svg);
        background-position: center;
        background-size: cover;
    }
    /* US SUBPAGE */
    /* Grid of US page */
    /*  */#USPAGE{
       /*  */ grid-template-rows: 35px 35px 50px 800px 50px;
    }
    /*  */.SUBPAGE_US_IMAGE{
        /*  */padding-left: 200px;
    }
    /*  */.SUBPAGE_US_TEXT{
        /*  */padding-right: 30px;
    }
    /*  */.SUBPAGE_US_TEXT2  {
       /*  */ padding-right: 30px;}
    }


/* Media qwery for small sizes screens */
@media only screen and (min-width:481px) and (max-width:720px){
    /* TEXT TITLES STYLES */
    h2 {
        font-size: 40px;
    }
    /* SUBTITLES STYLE TEXT OF WEBPAGE */
    
    /*  */h3{
       /*  */ font-size: 20px;
    }
    /* PARAGRAPHS STYLE  */
    /*  */p {
        /*  */font-size: 20px;
    }
    /* Logo */
    /*  */.logo {
        padding-top: 15px;
        padding-left: 10px;
        font-size: 15px;
    }
    /* Header list icons social media */
    /*  */.barra i {
        grid-column: 2/5;
        grid-row: 1/2;
        grid-row-gap: 5px;
        padding-top: 15px;
        font-size: 10px;
        letter-spacing: 18px;
    }
    /* Header list */
    /*  */.barra ul li {
        grid-column: 2/5;
        grid-row: 1/3;
        grid-column-gap: 10px;
        padding-right:15px ;
    }
    /* Header list text */
    /*  */.barra ul li a {  
        font-size: 15px;
    }
    /* MAIN STYLES */
    /* Text1 of mainmenu */
    /*  */.call {
        padding-top: 90px;
        font-size: 40px;
    }
    /* Text2 of the main menu */
    /*  */.call2 {
        padding-top: 300px;
        padding-left: 10px;
        font-size: 30px;
    }
    
    /* CONTENT OF EACH SECTION*/
    /* Propociones section */
    /*  */#VideoPromo {
        padding-top: 10px;
        grid-column: 1/4;
        grid-row: 5/6;
    }
    /* MENU SUBPAGE */
    /* Grid of UBICACION page */
    /*  */#UBIPAGE{
       /*  */ grid-template-rows: 35px 35px 50px 1000px 50px 600px 50px;
    }
    /*  */.SUBPAGE_UBICACIÓN_GALERIA{
    /*  */grid-template-columns: repeat(2, fr);
    /*  */grid-template-rows: 200px 200px 200px 200px 200px;
    }
    /*  */.Foto3 {
       /*  */ grid-column: 1/2;
        /*  */grid-row: 2/3;
    }
    /*  */.Foto4 {
       /*  */ grid-column: 2/3;
        /*  */grid-row: 2/3;
    }
    /*  */.Foto5 {
       /*  */ grid-column: 1/2;
        /*  */grid-row: 3/4;
    }
    /*  */.Foto6 {
       /*  */ grid-column: 2/3;
        /*  */grid-row: 3/4;
    }
    /*  */.Foto7 {
       /*  */ grid-column: 1/2;
        /*  */grid-row: 4/5;
    }
    
    /*  */.Foto8 {
       /*  */ grid-column: 2/3;
        /*  */grid-row: 4/5;
    }
    /*  */.SUBPAGE_US_IMAGE{
       /*  */ padding-left: 150px;
    }
   /*  */ .SUBPAGE_US_TEXT{
     /*  */   padding-right: 25px;
    }
    /*  */.SUBPAGE_US_TEXT2  {
       /*  */ padding-right: 25px;}
    }    


/* Media qwery for smartphones sizes screens */
@media only screen and (min-width:0px) and (max-width:481px){
    /* TEXT TITLES STYLES */
   /*  */ h2 {
      /*  */  font-size: 20px;
    }
    /* SUBTITLES STYLE TEXT OF WEBPAGE */
    /*  */h3{
        /*  */font-size: 20px;
    }
    /* PARAGRAPHS STYLE  */
    /*  */p {
        /*  */font-size: 15px;
    }
    /* BODY GRID AREA */
    /*  */#ONEPAGE{
    /*  */grid-template-rows: 40px 40px 600px 50px 800px 50px 600px 50px 600px 50px 600px 50px;
    }
    /* Logo */
    /*  */.logo {
        /*  */grid-column: 2/4;
        /*  */grid-row: 1/2;
        /*  */justify-items: center;
        /*  */align-items: center;
        /*  */text-align: center;
        /*  */padding-top: 0px;
        /*  */padding-left: 180px;
        /*  */font-size: 15px;
    }
    /*  */.logo span {
        /*  */grid-column: 2/2;
        /*  */grid-row: 1/3;
    }
    /* Header list icons social media */
    /*  */.barra i {
        /*  */grid-column: 1/5;
        /*  */grid-row: 2/3;
        /*  */justify-self: center;
        /*  */align-self: center;
        /*  */text-align: left;
        /*  */grid-row-gap: 5px;
        /*  */padding-top: 0;
        /*  */font-size: 8px;
        /*  */letter-spacing: 2px;
    }
    /* Header list */
    /*  */.barra ul li {
        /*  */grid-column: 1/5;
        /*  */grid-row: 2/3;
        /*  */grid-column-gap: 0px;
       /*  */ padding-right:10px ;
    }
    /* Header list text */
    /*  */.barra ul li a {  
        /*  */font-size: 10px;
    }
    /* MAIN STYLES */
    /* Text1 of mainmenu */
    /*  */.call {
        padding-top: 90px;
        font-size: 40px;
    }
    /* Text2 of the main menu */
    /*  */.call2 {
        padding-top: 300px;
        padding-left: 0px;
        font-size: 30px;
    }
    /* CONTENT OF EACH SECTION*/
    /* Propociones section */
    /*  */#VideoPromo {
        padding-top: 10px;
       /*  */ width: 100vh;
        height: 600px;
        size-adjust: cover;
        grid-column: 1/3;
        grid-row: 5/6;
    }
    /*  */footer p {
       /*  */ font-size: 15px;
    }
    /*  */footer i {
       /*  */ font-size: 15px;
        /*  */letter-spacing: 12px;
    }
    /* MENU SUBPAGE */
    /* Grid of MENU page */
    /* MENU SUBPAGE */
    /* Grid of UBICACION page */
    /*  */#UBIPAGE{
       /*  */ grid-template-rows: 35px 35px 50px 1800px 50px 600px 50px;
    }
    /*  */.SUBPAGE_UBICACIÓN_GALERIA{
    /*  */grid-template-columns: repeat(1, fr);
    /*  */grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px;
    }
    /*  */.Foto2 {
        /*  */grid-column: 1/2;
        /*  */grid-row: 2/3;
    }
    /*  */.Foto3 {
       /*  */ grid-column: 1/2;
        /*  */grid-row: 3/4;
    }
    /*  */.Foto4 {
       /*  */ grid-column: 1/2;
        /*  */grid-row: 4/5;
    } 
    /*  */.Foto5 {
       /*  */ grid-column: 1/2;
        /*  */grid-row: 5/6;
    }
    /*  */.Foto6 {
       /*  */ grid-column: 1/2;
        /*  */grid-row: 6/7;
    }
    /*  */.Foto7 {
       /*  */ grid-column: 1/2;
        /*  */grid-row: 7/8;
    }
    /*  */.Foto8 {
       /*  */ grid-column: 1/2;
        /*  */grid-row: 8/9;
    }
    /*  */.Mapita{
       /*  */ width: 200px;
        /*  */height: 200px;
    }
    /* US SUBPAGE */
    /*  */.SUBPAGE_US_IMAGE{
      /*  */  padding-left: 0px;
    background-size: cover;
    }
    /*  */.SUBPAGE_US_TEXT{
       /*  */ padding-right: 5px;
    }
   /*  */ .SUBPAGE_US_TEXT2  {
        /*  */padding-right: 5px;}
    }   