/* UNIVERSAL RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TRANSITION OF SCROLL */
html {
    scroll-behavior: smooth;
}

/* Icons */
i {
    font-size: 1rem;
    color: #3a2b00;
}

a {
    text-decoration: none;
    color: #f2fedc;
    font-size: 1.5rem;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: italic;
}

/* TEXT TITLES STYLES */
h2 {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: italic;
    font-size: 3rem;
    color: #f2fedc;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
}

/* SUBTITLES STYLE TEXT OF WEBPAGE */
h3 {
    display: inline-grid;
    color: #3a2b00;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: italic;
    justify-content: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    transition: all 0.8s;
}

/* Animation for the click text */
h3:hover {
    display: inline-grid;
    transform: scale(1.05);
    color: #c8ae53;
    transition: all 0.8s;
}

/* PARAGRAPHS STYLE  */
/*  */
p {
    display: inline-grid;
    color: #00755d;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: italic;
    font-size: 2rem;
    justify-content: center;
    text-transform: capitalize;
    transition: all 0.8s;
}

p:hover {
    display: inline-grid;
    transform: scale(1.05);
    color: #c8ae53;
    transition: all 0.8s;
}

h4 {
    display: inline-grid;
    color: #00755d;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: italic;
    font-size: 2rem;
    justify-content: center;
    text-transform: capitalize;
}

/* Style of each section container */
section {
    background-color: #f2fedc;
}

/* BODY GRID AREA */
.ContenedorOnePage {
    display: grid;
    grid-template-areas:
        "header header"
        "header header"
        "main main"
        "promo1 promo1"
        "promo2 promo2"
        "menu1 menu1"
        "menu2 menu2"
        "ubicacion1 ubicacion1"
        "ubicacion2 ubicacion2"
        "nosotros1 nosotros1"
        "nosotros2 nosotros2"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    justify-content: stretch;
    align-content: stretch;
}

/* HEADER */
header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "logo barra"
        "logo barra";
    background-image: linear-gradient(to bottom,
            rgba(151, 92, 44, 0.813) 30%,
            rgb(233, 172, 87),
            rgba(211, 151, 67, 0.7));
    position: relative;
    background-size: cover;
}

/* Logo */
.logo {
    grid-area: logo;
    justify-self: left;
    align-self: center;
    text-align: left;
    padding-left: 5%;
}

.logo h2 {
    color: aliceblue;
    font-family: "Cedarville Cursive", cursive;
    font-style: italic;
    font-size: 2.5rem;
}

.logo span {
    color: black;
    text-shadow: 1px 1px #333;
    font-family: "Kdam Thmor Pro", sans-serif;
}

/* Header align */
nav {
    grid-area: barra;
    justify-self: right;
    align-self: center;
    padding-right: 5%;
}

nav i {
    letter-spacing: 10px;
    text-align: center;
    padding-top: 2%;
    font-size: 1.2rem;
}

/* Header list */
nav ul li {
    display: inline-grid;
}

/* MAIN */
/* MAIN STYLES */
.MAIN {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "main1 main1"
        "main2 main2";
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.349)),
        url(../Imagenes/Libreria.jpg);
    width: 100%;
    height: 600px;
    background-position:center;
    background-size:cover;
}

/* Text1 of mainmenu */
.call {
    grid-area: main1;
    padding-top: 2%;
}

.call h2 {
    color: #413028;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
}

/* Text2 of the main menu */
.call2 {
    grid-area: main2;
    padding-top: 10%;
}

.call2 h2 {
    color: #f2fedc;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: italic;
    font-size: 2.5rem;
    text-align: center;
}

/* PROMOCIONES */
/* SUBTITLES BANNERS position */
#PROMOS {
    grid-area: promo1;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    width: 100%;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: center;
}

/* Containerpromo */
.PromoContainer {
    grid-area: promo2;
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Video promo video of coffee in one page */
.VideoPromo {
    width: 60%;
    overflow: hidden;
    padding: 2%;
}

.TextoPromo {
    padding: 2%;
    text-align: center;
}

/* MENU */
#MENU {
    grid-area: menu1;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    width: 100%;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: center;
}

.MenuContainer {
    grid-area: menu2;
    background-image: url(../Imagenes/Menu.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: center;
}

.TextoMenu {
    padding-top: 20%;
    padding-left: 20%;
    text-align: center;
}

/* UBICACION */
#UBICACION {
    grid-area: ubicacion1;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    width: 100%;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: center;
}

.UbicacionContainer {
    grid-area: ubicacion2;
    background-image: url(../Imagenes/map-gcf0629988_1920.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: center;
}

.TextoUbicacion {
    padding-top: 22%;
    padding-left: 20%;
    text-align: center;
}

/* NOSOTROS */
#NOSOTROS {
    grid-area: nosotros1;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    width: 100%;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: center;
}

/* Containerpromo */
.NosotrosContainer {
    grid-area: nosotros2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: auto;
}

/* Video promo video of coffee in one page */
.VideoNosotros {
    width: 80%;
    height: auto;
    overflow: hidden;
    padding: 5%;
}

.TextoNosotros {
    text-align: center;
    padding-top: 30%;
    padding: 2%;
    margin: 5%;
}

.TextoNosotros i {
    font-size: 3rem;
}

/* FOOTER */
footer {
    grid-area: footer;
    display: grid;
    grid-template-areas:
        "footer1"
        "footer2";
    justify-content: center;
    align-items: center;
    background-color: #00755d;
    min-height: 50px;
    width: 100%;
}

footer p {
    grid-area: footer1;
    font-size: 1.2rem;
    color: #f2fedc;
    justify-self: center;
    align-items: center;
    text-align: center;
}

footer i {
    color: #f2fedc;
    font-size: 1.2rem;
    letter-spacing: 1.4rem;
    justify-self: center;
    align-items: center;
    text-align: center;
}

/* BOTTON HOME STYLE */
.subir {
    height: 40px;
    width: 40px;
    background-color: #c8ae53;
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 25px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 5px solid rgba(211, 151, 67, 0.707);
    border-radius: 50%;
    box-shadow: 0 0 5px #f2fedc;
    transition: all 0.8s;
}

.subir:hover {
    transform: scale(1.1);
    transition: all 0.8s;
}

/* SUBWEBPAGES */
/* PROMOCIONES SUBPAGE */
/* Grid of promo page */
.SUBPAGE_Promo_Container {
    display: grid;
    grid-template-areas:
        "header header"
        "header header"
        "PROMO1 PROMO1"
        "PROMO2 PROMO2"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: auto;
    justify-content: stretch;
    align-content: stretch;
}

#SUBPAGE_PROMOCIONES {
    grid-area: PROMO1;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    width: 100%;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: stretch;
}

.SUBPAGE_PromoContainer {
    grid-area: PROMO2;
    background-image: url(../Imagenes/board-1854180_1920.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: stretch;
}

.SUBPAGE_Promo_Text {
    grid-area: PROMO2;
    justify-self: center;
    align-self: center;
    padding-top: 20%;
    padding-left: 30%;
}

/* MENU SUBPAGE */
/* Grid of MENU page */
.SUBPAGE_Menu_Container {
    display: grid;
    grid-template-areas:
        "header header"
        "header header"
        "MENU1 MENU1"
        "MENU2 MENU2"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    justify-content: stretch;
    align-content: flex-start;
}

#SUBPAGE_MENU {
    grid-area: MENU1;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    width: 100%;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: center;
}

.SUBPAGE_MenuContainer {
    grid-area: MENU2;
    background-image: url(../Imagenes/cafe-g5c7eef449_1920.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: stretch;
}

.SUBPAGE_Menu_Text {
    grid-area: MENU2;
    justify-self: center;
    align-self: center;
    text-align: center;
    padding: 10%;
    padding-top: 35%;
}

/* UBICACION SUBPAGE */
/* Grid of UBICACION page */
.SUBPAGE_Ubicacion_Container {
    display: grid;
    grid-template-areas:
        "header header"
        "header header"
        "GALERIA1 GALERIA1"
        "GALERIA2 GALERIA2"
        "MAPA1 MAPA1"
        "MAPA2 MAPA2"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    height: auto;
    justify-content: stretch;
    align-content: flex-start;
}

#SUBPAGE_UBICACION {
    grid-area: GALERIA1;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    width: 100%;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: stretch;
}

.SUBPAGE_UBICACIÓN_GALERIA {
    grid-area: GALERIA2;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 2%;
    padding-top: 2%;
}

.Item {
    border-radius: 2px;
    transition: all 0.8s;
}

.Item:hover {
    transform: scale(1.05);
    transition: all 0.8s;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #3a2b00;
}

.Foto1 {
    width: 400px;
    height: auto;
}

.Foto2 {
    width: 400px;
    height: auto;
}

.Foto3 {
    width: 400px;
    height: auto;
}

.Foto4 {
    width: 400px;
    height: auto;
}

.Foto5 {
    width: 400px;
    height: auto;
}

.Foto6 {
    width: 400px;
    height: auto;
}

.Foto7 {
    width: 400px;
    height: auto;
}

.Foto8 {
    width: 400px;
    height: auto;
}

/* Maps section */
#MAPA {
    grid-area: MAPA1;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    width: 100%;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: stretch;
}

.Maps_Container {
    grid-area: MAPA2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.Mapita {
    width: 50%;
    height: auto;
}

.Mapita_text {
    padding: 2%;
    padding-top: 10%;
    text-align: center;
}

.Mapita_text i {
    font-size: 3rem;
}

/* US SUBPAGE */
/* Grid of US page */
.SUBPAGE_Us_Container {
    display: grid;
    grid-template-areas:
        "header header"
        "header header"
        "US1 US1"
        "US2 US2"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    height: 100%;
    justify-content: stretch;
    align-content: flex-start;
}

#US {
    grid-area: US1;
    background-image: url(../Imagenes/blurry-gradient-haikei.svg);
    width: 100%;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: stretch;
}

.SUBPAGE_UsContainer {
    grid-area: US2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5%;
}

.SUBPAGE_Us_Imagen {
    justify-self: center;
    align-self: center;
    width: 30%;
    height: auto;
}

.SUBPAGE_Us_TEXT1 {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.SUBPAGE_US_TEXT2 {
    justify-self: center;
    align-self: justify;
    text-align: center;
}

/* MEDIA QWERYS FOR RESPONSIVE SCREEN WEBPAGE */
/* Media qwery for medium sizes screens */
@media only screen and (min-width: 600px) and (max-width: 770px) {

    /* TEXT TITLES STYLES */
    h2 {
        font-size: 2.5rem;
    }

    /* SUBTITLES STYLE TEXT OF WEBPAGE */
    h3 {
        font-size: 2rem;
    }

    /* PARAGRAPHS STYLE  */
    p {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    /* HEADER */
    header {
        grid-area: header;
        display: grid;
        grid-template-areas:
            "logo logo"
            "barra barra";
        background-image: linear-gradient(to bottom,
                rgba(151, 92, 44, 0.813) 30%,
                rgb(233, 172, 87),
                rgba(211, 151, 67, 0.7));
        position: relative;
        background-size: cover;
    }

    /* Logo */
    .logo {
        grid-area: logo;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .logo h2 {
        font-size: 2.5rem;
    }

    /* Header align */
    nav {
        grid-area: barra;
        justify-self: right;
        align-self: center;
        padding: 2%;
    }

    nav i {
        justify-self: center;
        align-self: stretch;
        letter-spacing: 10px;
        text-align: center;
        padding-left: 2%;
        font-size: 1rem;
    }

    /* Text1 of mainmenu */
    .call h2 {
        font-size: 2.5rem;
    }

    /* Text2 of the main menu */
    .call2 h2 {
        font-size: 1.5rem;
    }

    /* Containerpromo */
    .PromoContainer {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    /* Video promo video of coffee in one page */
    .VideoPromo {
        width: inherit;
        height: auto;
        overflow: hidden;
        padding: 2%;
    }

    .TextoPromo {
        padding: 2%;
        text-align: center;
    }

    /* Icon Nosotros size */
    .TextoNosotros i {
        font-size: 2.5rem;
    }

    /* Ubicacion size an position map */
    .Maps_Container {
        flex-direction: column;
    }

    .Mapita {
        width: inherit;
    }

    .Mapita_text i {
        font-size: 2rem;
    }

    /* US subpage styles */
    .SUBPAGE_UsContainer {
        flex-direction: column;
    }
}

/* Media qwery for small sizes screens*/
@media only screen and (min-width: 470px) and (max-width: 599px) {

    /* TEXT TITLES STYLES */
    h2 {
        font-size: 1.5rem;
    }

    /* SUBTITLES STYLE TEXT OF WEBPAGE */
    h3 {
        font-size: 1.2rem;
    }

    /* PARAGRAPHS STYLE  */
    p {
        font-size: 1.2rem;
    }

    /* Other titles styles */
    h4 {
        font-size: 1rem;
    }

    /* Header list styles */
    a {
        font-size: 1rem;
    }

    /* HEADER */
    header {
        grid-area: header;
        display: grid;
        grid-template-areas:
            "logo logo"
            "barra barra";
        background-image: linear-gradient(to bottom,
                rgba(151, 92, 44, 0.813) 30%,
                rgb(233, 172, 87),
                rgba(211, 151, 67, 0.7));
        position: relative;
        background-size: cover;
    }

    /* Logo */
    .logo {
        grid-area: logo;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .logo h2 {
        color: aliceblue;
        font-family: "Cedarville Cursive", cursive;
        font-style: italic;
        font-size: 1.5rem;
    }

    /* Header align */
    nav {
        grid-area: barra;
        justify-self: right;
        align-self: center;
        padding: 2%;
    }

    nav i {
        justify-self: center;
        align-self: stretch;
        letter-spacing: 10px;
        text-align: center;
        padding-left: 2%;
        font-size: 1rem;
    }

    /* MAIN */
    .MAIN {
        height: 400px;
    }

    /* Text1 of mainmenu */
    .call h2 {
        font-size: 1.5rem;
    }

    /* Text2 of the main menu */
    .call2 h2 {
        font-size: 1rem;
    }

    /* Containerpromo */
    .PromoContainer {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    /* Video promo video of coffee in one page */
    .VideoPromo {
        width: inherit;
        height: auto;
        overflow: hidden;
        padding: 2%;
    }

    .TextoPromo {
        padding: 2%;
        text-align: center;
    }

    /* MENU */
    .MenuContainer {
        height: 400px;
    }

    /* UBICACION */
    .UbicacionContainer {
        height: 400px;
    }

    /* Icon Nosotros size */
    .TextoNosotros i {
        font-size: 2rem;
    }

    /* Subpages */
    .SUBPAGE_PromoContainer {
        height: 400px;
    }

    .SUBPAGE_MenuContainer {
        height: 400px;
    }

    /* Ubicacion size an position map */
    .Maps_Container {
        flex-direction: column;
    }

    .Mapita {
        width: inherit;
    }

    .Mapita_text i {
        font-size: 1.5rem;
    }

    .SUBPAGE_UsContainer {
        grid-area: US2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    /* US subpage styles */
    .SUBPAGE_UsContainer {
        flex-direction: column;
    }
}

/* smartphones*/
@media only screen and (min-width: 0px) and (max-width: 470px) {

    /* TEXT TITLES STYLES */
    h2 {
        font-size: 1rem;
    }

    /* SUBTITLES STYLE TEXT OF WEBPAGE */
    h3 {
        font-size: 0.8rem;
    }

    /* PARAGRAPHS STYLE  */
    p {
        font-size: 0.8rem;
    }

    /* Other titles styles */
    h4 {
        font-size: 0.5rem;
    }

    /* Header list styles */
    a {
        font-size: 0.8rem;
    }

    /* HEADER */
    header {
        grid-area: header;
        display: grid;
        grid-template-areas:
            "logo logo"
            "barra barra";
        background-image: linear-gradient(to bottom,
                rgba(151, 92, 44, 0.813) 30%,
                rgb(233, 172, 87),
                rgba(211, 151, 67, 0.7));
        position: relative;
        background-size: cover;
    }

    /* Logo */
    .logo {
        grid-area: logo;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .logo h2 {
        color: aliceblue;
        font-family: "Cedarville Cursive", cursive;
        font-style: italic;
        font-size: 1rem;
    }

    /* Header align */
    nav {
        grid-area: barra;
        justify-self: right;
        align-self: center;
        padding: 2%;
    }

    nav i {
        justify-self: center;
        align-self: stretch;
        letter-spacing: 10px;
        text-align: center;
        padding-left: 2%;
        font-size: 0.5rem;
    }

    /* MAIN */
    .MAIN {
        height: 350px;
    }

    /* Text1 of mainmenu */
    .call h2 {
        font-size: 1rem;
    }

    /* Text2 of the main menu */
    .call2 h2 {
        font-size: 0.8rem;
    }

    /* Containerpromo */
    .PromoContainer {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    /* Video promo video of coffee in one page */
    .VideoPromo {
        width: inherit;
        height: auto;
        overflow: hidden;
        padding: 2%;
    }

    .TextoPromo {
        padding: 2%;
        text-align: center;
    }

    /* MENU */
    .MenuContainer {
        height: 350px;
    }

    /* UBICACION */
    .UbicacionContainer {
        height: 350px;
    }

    .VideoNosotros {
        height: inherit;
        width: auto;
    }

    /* Icon Nosotros size */
    .TextoNosotros i {
        font-size: 1rem;
    }

    /* Subpages */
    .SUBPAGE_PromoContainer {
        height: 350px;
    }

    .SUBPAGE_MenuContainer {
        height: 350px;
    }

    /* Gallery size images */
    .Foto1 {
        width: 300px;
    }

    .Foto2 {
        width: 300px;
    }

    .Foto3 {
        width: 300px;
    }

    .Foto4 {
        width: 300px;
    }

    .Foto5 {
        width: 300px;
    }

    .Foto6 {
        width: 300px;
    }

    .Foto7 {
        width: 300px;
    }

    .Foto8 {
        width: 300px;
    }

    /* Ubicacion size an position map */
    .Maps_Container {
        flex-direction: column;
    }

    .Mapita {
        width: inherit;
    }

    .Mapita_text i {
        font-size: 1.5rem;
    }

    /* US subpage styles */
    .SUBPAGE_UsContainer {
        flex-direction: column;
    }
}