/* SUBMENUSTYLES */
/* Menu styles */
.submenu{
    background-image: url(../Imagenes/Menu1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}
.submenu a{
    text-decoration: none;
    color: #f2fedc;
    text-shadow: 0 0 5px #333;
}