@import"../Variables/_variables";
/* MEDIA QWERY FOR small screens */
@media only screen and (min-width: 490px) and (max-width: 900px) {
    h1{
    font-size:$Text_Big;
    }
    h3{
    font-size: $Text_Big;
    }
    p{
    font-size: $Text_Medium;
    }
    .card-text{
        font-size: $Text_Medium;
    }
}
/* MEDIA QWERY FOR SMARTPHONES */
@media only screen and (min-width: 0px) and (max-width: 489px) {
    h1{
        font-size:$Text_Small;
        }
    h2{
        font-size: $Text_Small;
    }
    h3{
    font-size: $Text_SuperSmall;
    }
    p{
    font-size: $Text_SuperSmall;
    }
    .card-text{
        font-size: $Text_Small;
    }
}