/* Font vinculation */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Ibarra+Real+Nova:ital,wght@1,500&family=PT+Serif&display=swap');
/* VARIABLES */
/* Text sizes */
$Text_HyperBig:6rem;
$Text_SuperBig:3rem;
$Text_Big:2rem;
$Text_Medium:1.5rem;
$Text_Small:1rem;
$Text_SuperSmall:5px;
/* Text type */
/* Text cursive */
$Text_Cursive:"Cedarville Cursive", cursive;
/* Text normal */
$Text_Kardomo:"Kdam Thmor Pro", sans-serif;
/* Text for subtitles info */
$Text_Subtitles:'PT Serif', serif;
/* Colors */
$Color_Header:linear-gradient(to bottom,
rgba(151, 92, 44, 0.813) 30%,
rgb(233, 172, 87),
rgba(211, 151, 67, 0.7));
$Color_Jumbotron: linear-gradient(to bottom, #00755d, #008263, #009068, #009d6b, #00ab6e, #00b072, #00b477, #00b97b, #00b682, #09b388, #17b08d, #24ad91);
$Color_Background:#f2fedc;
$Color_Body:#f2fedc;
$Color_Banner:#00755d;
$Color_Text:#1b1b1b;
$Color_Subtitles:#c8ae53;
/* Map of colors for social icons */
$fa:(
    facebook:linear-gradient(to right bottom, #0165e1, #0076ea, #0087f1, #0097f7, #00a6fb, #00abfd, #00b0fe, #00b5ff, #03b2ff, #08affe, #10acfe, #17a9fd),
    twitter:linear-gradient(to right bottom, #008abe, #0093ca, #009bd6, #00a4e2, #00adee, #05b2f4, #0ab7f9, #0fbcff, #18beff, #1fc0ff, #25c2ff, #2bc4ff),
    instagram:linear-gradient(to right bottom, #405de6, #9d47d2, #d125b2, #f1008a, #ff0060, #ff324b, #ff4f36, #ff681d, #ff8a2b, #fea842, #fec35f, #ffdc80)
);
/* Shadow */
$Shadow:5px;
$shadowcolor:#333;
/* Transition */
$Time:0.8s;
$Scale:1.05;
$Translate:-15px;
/* PAGE SIZES */
$width:100%;
$height:550px;
$b-sizes:cover;
$c-position:center;
/* Gaps */
$gap_box:2%;
$separacioncard:5%;
/* Mixin of type of text */
@mixin Text($fuente,$festilo,$fcolor,$fsize) {
    font-family: $fuente;
    font-style: $festilo;
    color: $fcolor;
    font-size: $fsize;
}
/* Mixin of background image */
@mixin Backsizes($ancho,$alto,$posicion,$covertura) {
    width: $ancho;
    height: $alto;
    background-position: $posicion;
    background-size: $covertura;
}